@import "../../global-style/default.styles";

.header-bar {
  height: 75px;
  background-color: $primary-color;
  display: flex;

  .logo-container {
    height: 100%;
    padding: 0 37px;
    justify-self: flex-start;
    flex: 0;
  }

  .nav-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-item {
    display: flex;
    color: $text-color-light;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-left: solid $text-color-light 1px;
    height: 36px;

    padding: 1em 5em;
    .nav-item-text {
      padding: 0 1px;
      text-transform: capitalize;
    }

    &:hover {
      color: $accent-color;
    }
  }

  .selected {
    @include flex-center;

    & .nav-item-text {
      padding: 4px 1px;
      border-bottom: solid $accent-color 4px;
      border-top: solid transparent 4px;
    }
  }

  .user-icon {
    width: 13px;
    margin-right: 8px;
  }

  .username {
    color: white;
    font-size: 13px;
    font-weight: 700;
  }
}

@media (max-width: 850px) {
  .header-bar {
    display: block;
    height: unset;
    transition: overflow 1s;

    &.closed {
      height: 4em;
      overflow: hidden;
    }

    .logo-container {
      padding: 1.5em;
      flex: 1;
      cursor: pointer;

      &:after {
        content: "☰";
        font-size: 2em;
        position: absolute;
        right: 1em;
        color: $text-color-light;
      }

      &:hover,
      &:active {
        &:after {
          color: $accent-color;
        }
      }
    }

    .nav-bar {
      display: block;

      .nav-item {
        @include flex-center;
        background-color: $primary-color;
        font-size: 1em;
        padding: 0;
        border: none;
        padding: 1.5em;
      }

      .selected {
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }
}
