@import "../../global-style/default.styles";

.collection-page {
  @include flex-center;
  flex-direction: column;

  .page-container {
    padding: 1em;
    margin: 0 5em;
    text-align: left;
  }
  .collection-header {
    text-align: left;
    padding-left: 0;
  }

  .collection-name {
    font-size: 14px;
    background-color: $tag-one-color;
    padding: 0.25em 0.5em;
    color: $tag-text-color;
  }

  .collection-description {
    margin-top: 3em;
  }
}
