@import "../../global-style/default.styles";

.login-form {
  @include flex-center;
  flex-direction: column;
  background-color: $primary-color;
  color: white;
  padding: 2em;

  & > * {
    width: 100%;
    margin-bottom: 1em;
  }

  .form-header {
    margin-bottom: 1em;
    font-size: 18px;
    color: white;
  }
}
