@import "./default.colors.scss";
@import "./mixins";

// Colours
$text-color: $grey-dark;
$text-color-light: $grey-light;
$primary-color: $steel-blue-dark;
$secondary-color: $steel-blue-light;
$accent-color: $orange;
$accent-secondary-color: $orange-off;
$hover-color: $orange-light;
$card-background: $white-frosty;
// Tags
$tag-one: $green;
$tag-two: $purple;
$tag-three: $magenta;

// Fonts
$primary-font: "Open Sans", sans-serif;

// Styles
body {
  line-height: 1;
  font-family: $primary-font;
}

h1 {
  font: inherit;
}

h2 {
  font: inherit;
}

h3 {
  font: inherit;
}

button {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 14px;
}
