$white-frosty: #f4f9fd;
$grey-light: #d7d7d7;
$grey-dark: #333333;
$steel-blue-dark: #42505b;
$steel-blue-light: #5d6f7d;
$orange: #ed8643;
$orange-off: #ec8643;
$orange-light: #ef9121;
$green: #198864;
$purple: #561988;
$magenta: #c8259a;
