@import "../../global-style/default.styles";

.home-page {
  @include flex-center;
  flex-direction: column;

  .page-container {
    padding: 1em;
    margin: 0 5em;
    text-align: left;
  }
  .welcome-header {
    text-align: left;
    padding-left: 0;
  }
}
