@import "../../global-style/default.styles";

.home-page {
  @include flex-center;
  flex-direction: column;

  .page-container {
    padding: 1em;
    margin: 0 5em;
    max-width: 75em;
    text-align: left;
  }
  .welcome-header {
    text-align: left;
    padding-left: 0;
  }
}

@media (max-width: 850px) {
  .home-page {
    .page-container {
      margin: 0 1em;
    }
  }
}
