@import "../../global-style/default.styles";

.card-carousel-wrapper {
  margin-top: 2em;
  .card-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-carousel-title {
      border-bottom: $accent-color 2px solid;
      padding: 0.25em;
      margin: 0;
      flex: 1 0 100%;
    }

    & > * {
      justify-self: center;
      margin: 1em;
    }
  }
}

@media (max-width: 425px) {
  .card-carousel-wrapper {
    .card-carousel {
      .card-carousel-title {
        margin-bottom: 0.5em;
        text-align: center;
      }

      & > * {
        margin: 0.5em;
      }
    }
  }
}
