@import "../../global-style/default.styles";

.detail-page {
  flex-direction: column;
  max-width: 75em;
  margin: 0 auto;

  .page-container {
    padding: 1em;
    margin: 0 5em;
    text-align: left;
  }
  .detail-header {
    text-align: left;
    padding-left: 0;
    padding-bottom: 0.75em;
  }
  .detail-tag {
    .detail-name {
      font-size: 14px;
      padding: 0.25em 1.5em;
      color: $tag-text-color;
    }
  }

  .detail-description {
    margin-top: 3em;
  }
}
